---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About"
  description="Eric John Olson is an artist, technologist, and activist based in Seattle, WA."
  bodyClass="about-theme base-theme"
  navVariant="inner"
>
  <section class="heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12" style="margin-top:0">
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
  </section>

  <section class="basic-page-masonry">
    <div class="container">
      <div class="row">
        <div class="col-md-12 layoutSingleColumn">
          <div>
            <h3>Biography</h3>
            <p>Eric John Olson is an artist, technologist, and activist. His work explores systems of power and their relationship to lived experiences through interdisciplinary and socially engaged art practices. He collaborates with artists, performers, organizers, and community members to co-create projects and conduct participatory research. His recent work examines hopelessness, movement, participation, displacement, and inter-generational exchange. Olson's recent work explored how somatic movement can shift one's relationship to uncertain futures.</p>
            <p>Olson holds a MFA from Portland State University in the Art &amp; Social Practice program and a degree in Computer Science. He has worked with technology in a variety of capacities and currently architects and engineers systems at scale leveraging AI. Olson's art has been supported by the Seattle Art Museum OSP Residency, MadArt Studios, Seattle Office of Arts &amp; Culture, Eichholz Foundation, 4Culture, The Seattle Public Library Foundation, and other arts and civic organizations. His projects have been written about in The Seattle Times, CityArts Magazine, The Stranger, and others.</p>
            <p>Olson lives in Seattle, Washington, USA.</p>
          </div>

          <p>&nbsp;</p>

          <div>
            <h3>Contact</h3>
            <p>
              Eric John Olson<br />
              6508 Division Ave NW<br />
              Seattle, WA 98117<br />
              United States
            </p>
            <p>
              <a href="mailto:ericjolson@gmail.com">ericjolson [at] gmail.com</a><br />
              <a href="https://tinyletter.com/ericjohnolson">Sign up for my newsletter</a>
            </p>
            <h3>CV</h3>
            <p>
              <a href="/downloads/2020EJOCV.pdf">Download the PDF</a>
            </p>
          </div>

          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
