---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Research"
  description="Research questions by Eric John Olson"
  bodyClass="research-theme base-theme"
  navVariant="inner"
>
  <section class="heading">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top:0">
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container thumbnail-gallery">
      <div class="row">
        <div class="col-md-12" style="margin-top:0">
          <h4>Research Questions</h4>
        </div>
        <div class="research-questions">
          <div class="col-md-6 col-xs-12">
            <ul>
              <li>Given that re-enactment and somatic experiencing can change one's relationship to difficult past experiences, how can it be used to change one's relationship to the future's uncertainty? (<em>in progress</em>)</li>
              <li>How can we make the invisible visible? (<em>ongoing</em>)</li>
              <li>How can physical exercises help us to understand oppressive systems and shift our relationships with power? <sup><a href="/projects/tenant-self-defense/">15</a></sup></li>
              <li>What can we learn about our communities, our histories and ourselves from the site and stories of a multi-generation family-owned business? <sup><a href="/projects/canton-grill-degustatory-research/">14</a></sup></li>
              <li>Can we collapse the time and space between generations through reenactment? How does performing each others' memories help us better relate to one another? <sup><a href="/projects/between-two-shores/">13</a></sup></li>
              <li>How can artists work together as a force of de-gentrification and anti-displacement in their communities instead of being instrumentalized by speculative markets, developers, and civic organizations in the art-washing of communities? <sup><a href="/projects/peebs/">12</a></sup></li>
              <li>How can technology be leveraged to connect us to our innate somatic awareness and to one another? <sup><a href="/projects/orbiting-together/">11</a></sup></li>
              <li>How can temporary sculptures or installations be used to engage an existing community? What is learned by shifting public engagement forms to prioritize the lived experiences and knowledge of the institutions staff? <sup><a href="/projects/score-sculptures-for-the-sculpture-park/">10</a></sup></li>
              <li>How can forms of public engagement in museums be shifted to help people experience work collectively and somatically? <sup>9</sup></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul>
              <li>How can we have conversations with our bodies about difficult questions like loss, absence, and death? <sup><a href="/projects/dead-dad-dining-club/">8</a></sup></li>
              <li>How do the past and future haunt the present and how do mundane and quotidian acts resonate across time and space? <sup><a href="/projects/we-are-a-crowd-of-others/">7</a></sup></li>
              <li>What is it like to live in Seattle during this time of great change and gentrification? How can we prioritize marginalized voices in conversations about the city's future? <sup><a href="/projects/sharing-our-voices/">6</a></sup></li>
              <li>Who has the social, cultural, and economic capital to take advantage of unpaid opportunities in the arts? If these opportunities are largely inaccessible, how do they replicate institutionalized inequities? Is the Art World and higher arts education a pyramid scheme? <sup><a href="/projects/le-petit-nickel/">5</a></sup></li>
              <li>How can we senior centers and age-segregated spaces be rebranded as the centers of knowledge and lived-experiences that they are? <sup><a href="/projects/be-vintage/">4</a></sup></li>
              <li>How can memes and technology be used to make talking about vulnerable feelings and interpersonal conflicts easier? <sup>3</sup></li>
              <li>How can you access the space of intense reflection and the sacred through levity and absurdity rather than dogma or religious teaching? <sup>2</sup></li>
              <li>What is gained by creating work about failure? Can you fail at making art about failure? <sup>1</sup></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
