---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const allProjects = await getCollection('projects');

// Sort descending by date
const projects = allProjects.sort((a, b) => {
  const dateA = a.data.date ? new Date(a.data.date).getTime() : 0;
  const dateB = b.data.date ? new Date(b.data.date).getTime() : 0;
  return dateB - dateA;
});
---

<BaseLayout
  title="Work"
  description="Selected work by Eric Olson"
  bodyClass="projects-theme base-theme"
  navVariant="inner"
>
  <section class="heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12" style="margin-top:0">
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container thumbnail-gallery">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h3>Selected Work (Chronological)</h3>
          <hr />
        </div>

        {projects.map((project) => (
          <ProjectCard
            title={project.data.title}
            href={`/projects/${project.slug}/`}
            thumbnail={project.data.thumbnail}
            excerpt={project.data.excerpt}
          />
        ))}

        <div class="col-xs-12 col-md-12">
          <a href="/archive/">View more in archive</a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
